$finger-size: 48px;
$font-size-normal: 18px;
$font-size-small: 14px;
$font-size-big: 22px;

$color-sacremento: #043027;
$color-darkgray: #2b3a42;
$color-lightgray: #3f5866;
$color-orange: #ff8f00;
$color-font: #f2f2f2;
$color-red: #dc3545;
$color-border: #d3d3d3;

//Font Style
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
$font-sharp: "Lora", serif;
$font-general: "Rubik", sans-serif;
